In [2]:
import pandas as pd

In [3]:
#read in Glassdoor data analyst csv from Kaggle
data_analyst = "Resources\DataAnalyst.csv"
data_analyst_df = pd.read_csv(data_analyst)

In [4]:
data_analyst_df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [5]:
#filter and pick columns for final Glassdoor data analyst df
data_analyst_df.head()
data_analyst_transformed=data_analyst_df[["Job Title","Salary Estimate","Job Description","Company Name","Location"]]
data_analyst_transformed

,Job Title,Salary Estimate,Job Description,Company Name,Location
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY"
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY"
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY"
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY"
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY"
...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,"Avacend, Inc.\n2.5","Denver, CO"
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,Arrow Electronics\n2.9,"Centennial, CO"
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",Spiceorb,"Denver, CO"
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,Contingent Network Services\n3.1,"Centennial, CO"
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",SCL Health\n3.4,"Broomfield, CO"

In [6]:
#add source column to data analyst df
data_analyst_transformed["Source"]="www.glassdoor.com"
data_analyst_transformed

C:\Users\melodie.staton\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Job Title,Salary Estimate,Job Description,Company Name,Location,Source
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",www.glassdoor.com
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",www.glassdoor.com
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",www.glassdoor.com
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",www.glassdoor.com
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",www.glassdoor.com
...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,"Avacend, Inc.\n2.5","Denver, CO",www.glassdoor.com
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,Arrow Electronics\n2.9,"Centennial, CO",www.glassdoor.com
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",Spiceorb,"Denver, CO",www.glassdoor.com
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,Contingent Network Services\n3.1,"Centennial, CO",www.glassdoor.com
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",SCL Health\n3.4,"Broomfield, CO",www.glassdoor.com

In [7]:
#remove (glassdoor est.) from salary estimate column
data_analyst_transformed["Salary Estimate"].str.replace(r"\(.*\)"," ")

0        $37K-$66K
1        $37K-$66K
2        $37K-$66K
3        $37K-$66K
4        $37K-$66K
            ...
2248    $78K-$104K
2249    $78K-$104K
2250    $78K-$104K
2251    $78K-$104K
2252    $78K-$104K
Name: Salary Estimate, Length: 2253, dtype: object

In [8]:
data_analyst_transformed["Salary Estimate"]=data_analyst_transformed["Salary Estimate"].str.replace(r"\(.*\)"," ")
data_analyst_transformed

C:\Users\melodie.staton\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Job Title,Salary Estimate,Job Description,Company Name,Location,Source
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K,Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",www.glassdoor.com
1,Quality Data Analyst,$37K-$66K,Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",www.glassdoor.com
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K,Weâ€™re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",www.glassdoor.com
3,Data Analyst,$37K-$66K,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",www.glassdoor.com
4,Reporting Data Analyst,$37K-$66K,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",www.glassdoor.com
...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K,Maintains systems to protect data from unautho...,"Avacend, Inc.\n2.5","Denver, CO",www.glassdoor.com
2249,Senior Data Analyst (Corporate Audit),$78K-$104K,Position:\nSenior Data Analyst (Corporate Audi...,Arrow Electronics\n2.9,"Centennial, CO",www.glassdoor.com
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K,"Title: Technical Business Analyst (SQL, Data a...",Spiceorb,"Denver, CO",www.glassdoor.com
2251,"Data Analyst 3, Customer Experience",$78K-$104K,Summary\n\nResponsible for working cross-funct...,Contingent Network Services\n3.1,"Centennial, CO",www.glassdoor.com
2252,Senior Quality Data Analyst,$78K-$104K,"You.\n\nYou bring your body, mind, heart and s...",SCL Health\n3.4,"Broomfield, CO",www.glassdoor.com

In [9]:
#read in dice.com tech jobs csv from Kaggle
dice_jobs = "Resources\dice_com-job_us_sample.csv"
dice_jobs_df = pd.read_csv(dice_jobs)

In [10]:
#extract positions that included data analyst as part of job title
dice_df=dice_jobs_df[dice_jobs_df['jobtitle'].str.contains("Data Analyst")]

In [11]:
#filter and pick columns for final dice.com df
#renamed columns to match data analyst df
dice_df_transformed= dice_df[["company", "jobdescription","joblocation_address","jobtitle"]]
dice_df_transformed=dice_df_transformed.rename(columns={"company":"Company Name","jobdescription":"Job Description","joblocation_address": "Location","jobtitle":"Job Title"})

In [12]:
#add source and salary estimate to dice.com df
dice_df_transformed["Source"]="www.dice.com"
dice_df_transformed["Salary Estimate"]=""
dice_df_transformed

,Company Name,Job Description,Location,Job Title,Source,Salary Estimate
43,Genesis10,Genesis10 is seeking a Sr. Business Data Analy...,"Eagan, MN",Sr. Business Data Analyst,www.dice.com,
171,Sumeru,One of our Big4 Client in California areaÂ is l...,"Los Angeles, CA",Data Analyst,www.dice.com,
639,Alexander Technology Group,Application Support / Data AnalystOur client l...,"Woburn, MA",Application Support / Data Analyst,www.dice.com,
754,Staffmark,Financial Marketing Services company in Elling...,"Ellington, CT",Data Analyst with SQL Experience,www.dice.com,
808,The Wherry Group,Title: Developer â€“Â Entry to Mid-level SQL & C...,"Hartford, CT",Data Analyst,www.dice.com,
...,...,...,...,...,...,...
21193,"Maxonic, Inc.",Our client is a leading software company that ...,"Mountain View, CA",Finance Data Analyst - 12354,www.dice.com,
21331,"K2 Partnering Solutions, Inc.",Looking for a SFDC Admin/Data Analyst who can ...,"South San Francisco, CA",Data Analyst Consultant-MUST have Cloudingo or...,www.dice.com,
21640,"Talent Space, Inc.",Talent Space is looking for a data analyst for...,"San Jose, CA",Data Analyst (Cisco),www.dice.com,
21723,IAC Publishing,Company DescriptionAs the worldâ€™s leading digi...,"Oakland, CA",Senior Data Analyst,www.dice.com,
21876,Accelon Inc,Roles/Responsibilities:- â€¢ Perform big data an...,"San Rafael, CA",Data Analyst III,www.dice.com,

In [13]:
# Remove \n* from company name
data_analyst_transformed["Company Name"]=data_analyst_transformed["Company Name"].str.split("\\n", expand=True)[0]
# data_analyst_transformed["Job Description"]=data_analyst_transformed["Job Description"].str.split("\\n", expand=True)[1]
data_analyst_transformed

C:\Users\melodie.staton\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Job Title,Salary Estimate,Job Description,Company Name,Location,Source
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K,Are you eager to roll up your sleeves and harn...,Vera Institute of Justice,"New York, NY",www.glassdoor.com
1,Quality Data Analyst,$37K-$66K,Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York,"New York, NY",www.glassdoor.com
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K,Weâ€™re looking for a Senior Data Analyst who ha...,Squarespace,"New York, NY",www.glassdoor.com
3,Data Analyst,$37K-$66K,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity,"New York, NY",www.glassdoor.com
4,Reporting Data Analyst,$37K-$66K,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel,"New York, NY",www.glassdoor.com
...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K,Maintains systems to protect data from unautho...,"Avacend, Inc.","Denver, CO",www.glassdoor.com
2249,Senior Data Analyst (Corporate Audit),$78K-$104K,Position:\nSenior Data Analyst (Corporate Audi...,Arrow Electronics,"Centennial, CO",www.glassdoor.com
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K,"Title: Technical Business Analyst (SQL, Data a...",Spiceorb,"Denver, CO",www.glassdoor.com
2251,"Data Analyst 3, Customer Experience",$78K-$104K,Summary\n\nResponsible for working cross-funct...,Contingent Network Services,"Centennial, CO",www.glassdoor.com
2252,Senior Quality Data Analyst,$78K-$104K,"You.\n\nYou bring your body, mind, heart and s...",SCL Health,"Broomfield, CO",www.glassdoor.com

In [14]:
combined_data_analyst=dice_df_transformed.append(data_analyst_transformed)
combined_data_analyst_df = combined_data_analyst.reset_index(drop=True)
combined_data_analyst_df

,Company Name,Job Description,Location,Job Title,Source,Salary Estimate
0,Genesis10,Genesis10 is seeking a Sr. Business Data Analy...,"Eagan, MN",Sr. Business Data Analyst,www.dice.com,
1,Sumeru,One of our Big4 Client in California areaÂ is l...,"Los Angeles, CA",Data Analyst,www.dice.com,
2,Alexander Technology Group,Application Support / Data AnalystOur client l...,"Woburn, MA",Application Support / Data Analyst,www.dice.com,
3,Staffmark,Financial Marketing Services company in Elling...,"Ellington, CT",Data Analyst with SQL Experience,www.dice.com,
4,The Wherry Group,Title: Developer â€“Â Entry to Mid-level SQL & C...,"Hartford, CT",Data Analyst,www.dice.com,
...,...,...,...,...,...,...
2412,"Avacend, Inc.",Maintains systems to protect data from unautho...,"Denver, CO",RQS - IHHA - 201900004460 -1q Data Security An...,www.glassdoor.com,$78K-$104K
2413,Arrow Electronics,Position:\nSenior Data Analyst (Corporate Audi...,"Centennial, CO",Senior Data Analyst (Corporate Audit),www.glassdoor.com,$78K-$104K
2414,Spiceorb,"Title: Technical Business Analyst (SQL, Data a...","Denver, CO","Technical Business Analyst (SQL, Data analytic...",www.glassdoor.com,$78K-$104K
2415,Contingent Network Services,Summary\n\nResponsible for working cross-funct...,"Centennial, CO","Data Analyst 3, Customer Experience",www.glassdoor.com,$78K-$104K
2416,SCL Health,"You.\n\nYou bring your body, mind, heart and s...","Broomfield, CO",Senior Quality Data Analyst,www.glassdoor.com,$78K-$104K

In [17]:
# Check for duplicates
duplicates_df = combined_data_analyst_df.loc[combined_data_analyst_df.duplicated(
    subset=['Company Name', 'Location', 'Job Title']),'Job Title'].unique()

combined_data_analyst_df.loc[combined_data_analyst_df["Job Title"] == 
                             "IT Risk and Compliance Data Reporting Analyst" 
                             , :]

,Company Name,Job Description,Location,Job Title,Source,Salary Estimate
993,TalentDash,"Reporting to the Supervisor, provides reportin...","Chicago, IL",IT Risk and Compliance Data Reporting Analyst,www.glassdoor.com,$42K-$76K
1039,TalentDash,"Job Description\nReporting to the Supervisor, ...","Chicago, IL",IT Risk and Compliance Data Reporting Analyst,www.glassdoor.com,$68K-$87K